@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Arial, Helvetica,
    sans-serif;
  letter-spacing: 0em;
}

* {
  box-sizing: border-box;
}
