.viewport:global(.is-draggable) {
  cursor: move;
  cursor: grab;
}

.viewport:global(.is-dragging) {
  cursor: grabbing;
}

.viewport {
  overflow: hidden;
  width: 100%;
}

.embla {
  position: relative;
  background-color: transparent;
  max-width: 100%;
}

.embla__thumb {
  position: relative;
  background-color: transparent;
  max-width: 100%;
  margin-top: 24px;
}

.container {
  display: flex;
  user-select: none;
  width: 100%;
  height: 100%;
}

.container__thumb {
  display: flex;
  user-select: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.slide {
  padding-left: 10px;
  min-width: 100%;
  position: relative;
}

.inner__slide {
  position: relative;
  overflow: hidden;
  padding-top: 125%;
  background-color: red;
}

.slide__img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.slide__thumb {
  padding-left: 10px;
  min-width: 20%;
  position: relative;
}

.inner__thumb__silde {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
}

.slide__thumb__img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
